<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) IMPERIAL S.A. All rights reserved.
 *
 * All  rights  to  this product are owned by IMPERIAL S.A. and may only be used
 * under the terms of its associated license document. You may NOT copy, modify,
 * sublicense,  or  distribute  this  source  file  or  portions  of  it  unless
 * previously  authorized  in writing by IMPERIAL S.A. In any event, this notice
 * and above copyright must always be included verbatim with this file.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <module-name>imperial-autorizadorventa-web</module-name>

  <!-- ===================================================================== -->
  <!-- == SecurityFilter =================================================== -->
  <!-- ===================================================================== -->

  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>cl.obcom.web.security.SecurityFilter</filter-class>
  </filter>

  <!-- ===================================================================== -->
  <!-- == ClienteWeb ======================================================= -->
  <!-- ===================================================================== -->

  <servlet>
    <servlet-name>AutorizadorVentaWeb</servlet-name>
    <servlet-class>cl.imperial.autorizadorventa.ws.AutorizadorVentaWeb</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AutorizadorVentaWeb</servlet-name>
    <url-pattern>/AutorizadorVentaWebService</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <servlet-name>AutorizadorVentaWeb</servlet-name>
  </filter-mapping>

  <!-- ===================================================================== -->
  <!-- == Security (HTTPS) ================================================= -->
  <!-- ===================================================================== -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>https</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>   <!--CONFIDENTIAL-->
    </user-data-constraint>
  </security-constraint>

  <!-- ===================================================================== -->
  <!-- == Resources ======================================================== -->
  <!-- ===================================================================== -->

  <resource-ref>
    <res-ref-name>AutorizadorVentaDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

</web-app>